pandas~=1.1.0
networkx~=2.4
geopandas~=0.8.1
Shapely~=1.7.1
pyrosm~=0.5.3
osmnx~=0.16.0
dash~=1.16.3
geopy~=2.0.0
lxml~=4.5.2
plotly~=4.11.0
numpy~=1.19.0
folium~=0.11.0
matplotlib~=3.2.2
urllib3~=1.25.10