.container.scalable {
  width: 100%;
  max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
  display: none;
}
/*
body {
  background-color: #171b26;
  color: #9fa6b7;
  overflow-x: hidden;
}*/

body {
  background-color: #171b26;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;
}

.banner {
  height: 5rem;
  margin-bottom: 1rem;
  padding: 0rem 5rem 0rem;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.banner h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.banner Img {
  position: relative;
  height: 4rem;
  width: auto;
}

#upper-container, #lower-container {
  margin: 1rem 5rem;
}

#upper-left, #geo-map-outer {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.control-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*
feature selector option

#feature-selector {
  display: flex;
  justify-content: space-around;
}
*/
#feature-selector {
  padding-top: 17px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 114px
}

#third-param {
 margin-left:1.5%;
 margin-right:1.5%;
}
#operator-selector {
 margin-left: 5%;
 margin-right: 5%;
}

#upper-left > div > label {
  font-weight: bold;
  margin: 15px 0px;
}

  upper-left-param > div > label {
    font-weight: normal;
    margin-bottom: 2px;
  }

  .pretty_container {
  border-radius: 10px;
  background-color: #1d2230;
  margin: 5px;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 2px #0a0b10;
  }

*.Select-control, Select--single, .Select-multi-value-wrapper, .Select-value, .Select-value-label {
  background-color: #171b26 !important;
  color: #7b7d8d !important;
}

.Select-control, .Select-menu-outer {
  border: 1px solid dimgrey !important;
}

span.Select-clear-zone {
  display: none !important;
}

.Select-menu-outer, .Select-menu-outer div, .Select--multi {
  background-color: #171b26 !important;
  color: #7b7d8d !important;
}

.Select-menu-outer div:hover {
  color: white !important;
  cursor: pointer;
}

.dash-spreadsheet-container .dash-spreadsheet-inner th, td {
  text-align: center !important;
  font-family: "Open Sans", sans-serif !important;
  border-top-color: #171b26 !important;
  border-bottom-color: #171b26 !important;
  border-left-color: #171b26 !important;
  border-right-color: #171b26 !important;
  font-size: 11px;
}


#table-upper > p, #table-lower > p {
  font-weight: bold;
  margin: 20px 0px;
}

#graph-upper > p, #graph-lower > p {
  font-weight: bold;
  margin: 20px 0px;
}


#geo-map {
  height: 55rem;
}

#select-metric-outer {
  display: inline-block;
}

.control_label, #map-title {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.explanatory-text {
 font-size: 14px;
 font-weight: normal;
 display: block;
 color: rgba(255, 255, 255, 0.6)
}

.error-text {
 font-size: 14px;
 font-weight: bold;
 display: block;
 color: #FF0000;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  */

@media only screen and (max-width: 750px) {
  .control-row-1 {
    flex-direction: column;
  }

  #state-select-outer, #select-metric-outer {
    width: 100%;
  }
}

@media only screen and (max-width: 750px), (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .section-title, #map-title {
    font-size: 14px;
  }

  .banner {
    padding: 0rem 2rem;
  }

  .banner h6 {
    font-size: 1.5rem;
  }

  .banner img {
    height: 1.5rem;
  }

  #upper-container {
    margin: 1rem;
  }

  #upper-left > div > label {
    font-weight: normal;
    margin-bottom: 2px;
  }

  upper-left-param > div > label {
    font-weight: normal;
    margin-bottom: 2px;
  }

  .pretty_container {
  border-radius: 5px;
  background-color: #1d2230;
  margin: 5px;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 2px #0a0b10;
  }

  #upper-left, #geo-map-outer {
    width: 100%;
    margin-left: 0
  }


  #lower-container {
    position: relative;
  }

  /* position procedure plot relative to outer div in mobile layout  */
  #procedure-plot {
    position: absolute;
  }

  g.yaxislayer-above > g > text {
    font-size: 10px !important;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  #upper-left, #geo-map-outer {
    padding: 1rem 4rem;
  }

  #state-select-outer, #select-metric-outer {
    width: 45%;
  }

}